<input class="toggle" type="checkbox"{{#if selected }} checked {{/if}}>
{{#if edited }}
	<input class="item-title-input" value="{{currentValue}}" type="text">
	<span class="item-ext">.{{ext}}</span>
	<button class="button js-save">Save</button>
	<button class="button button-link js-cancel">Cancel</button>
{{else}}
	<span class="item-title">{{title}}</span>
{{/if}}