<section id="toolbar" class="fileList-toolbar">
	<input id="toggle-children" class="toggle" type="checkbox"{{#if selected }} checked {{/if}}>
	<button class="button js-rename">Rename</button>
	<button class="delete js-delete">Delete</button>
	<button class="delete js-new-directory">Create new folder</button>
</section>
<ul id="item-list" class="fileList">
	
</ul>